<div class="container-fluid h-100 d-flex align-items-center justify-content-center zoom-in" style="background-color: black; padding-bottom: 15px;">
  <div class="row w-100">
    <div class="col-md-6 d-flex align-items-center justify-content-center" style="overflow: hidden;">
      <img src="/assets/images/img2.jpg" alt="Immagine del Notaio" class="img-fluid img-warmer" style="max-height: 80vh; width: 100%; object-fit: contain;" loading="lazy">
    </div>
    <div class="col-md-6 d-flex align-items-start justify-content-center flex-column">
      <h1>Il Notaio Gregorio Barbaglio</h1>
      <div class="timeline">
        <div class="timeline-item">
          <div class="timeline-date">2025</div>
          <div class="timeline-content">Apertura studio notarile a Soncino</div>
        </div>
        <div class="timeline-item">
          <div class="timeline-date">2024</div>
          <div class="timeline-content">Superamento concorso notarile</div>
        </div>
        <div class="timeline-item">
          <div class="timeline-date">2023</div>
          <div class="timeline-content">Esame di stato per avvocatura, abilitazione alla professione</div>
        </div>
        <div class="timeline-item">
          <div class="timeline-date">2019-2024</div>
          <div class="timeline-content">Frequenza scuola notarile</div>
        </div>
        <div class="timeline-item">
          <div class="timeline-date">2019</div>
          <div class="timeline-content">Laurea in giurisprudenza con lode, Università Cattolica di Milano</div>
        </div>
      </div>
    </div>
  </div>
</div>