<div class="container-fluid h-100 d-flex align-items-center justify-content-center zoom-in" style="background-color: black;">
  <div class="row w-100">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <img src="/assets/images/img2.jpg" alt="Immagine del Notaio" class="img-fluid img-warmer" loading="lazy">
    </div>
    <div class="col-md-6 d-flex align-items-start justify-content-center flex-column">
      <h1>Il Notaio Gregorio Barbaglio</h1>
      <div class="timeline">
        <div class="timeline-item">
          <div class="timeline-date">2019</div>
          <div class="timeline-content">Si è laureato con il massimo dei voti in giurisprudenza alla Cattolica di Milano</div>
        </div>
        <div class="timeline-item">
          <div class="timeline-date">2019-2024</div>
          <div class="timeline-content">Ha frequentato la scuola notarile</div>
        </div>
        <div class="timeline-item">
          <div class="timeline-date">2023</div>
          <div class="timeline-content">Ha fatto l'esame di stato per avvocatura e è diventato avvocato</div>
        </div>
        <div class="timeline-item">
          <div class="timeline-date">2024</div>
          <div class="timeline-content">Ha passato il concorso da notaio</div>
        </div>
        <div class="timeline-item">
          <div class="timeline-date">2025</div>
          <div class="timeline-content">Ha aperto l'ufficio a Soncino da notaio</div>
        </div>
      </div>
    </div>
  </div>
</div>