<div class="container-fluid h-100 d-flex align-items-center justify-content-center zoom-in" style="background-color: black; padding-bottom: 20px;">
  <div class="row w-100">
    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
      <h2>Studio Primario - Soncino</h2>
      <p>Via IV Novembre, 30, 26029 Soncino CR</p>
      <img src="assets/images/soncino.png" alt="Studio Notarile Soncino" class="img-fluid mb-3" style="height: 300px; width: 80%; object-fit: cover;" loading="lazy">
      <a href="https://maps.google.com/maps?q=45.398392,9.873392" target="_blank" class="btn btn-outline-light">📍 Apri su Google Maps</a>
    </div>
    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
      <h2>Studio Secondario - Crema</h2>
      <p>Via Giacomo Matteotti, 56, 26013 Crema CR</p>
      <img src="assets/images/crema.jpg" alt="Studio Notarile Crema" class="img-fluid mb-3" style="height: 300px; width: 80%; object-fit: cover;" loading="lazy">
      <a href="https://maps.google.com/maps?q=Via%20Giacomo%20Matteotti%2056%2026013%20Crema%20CR" target="_blank" class="btn btn-outline-light">📍 Apri su Google Maps</a>
    </div>
  </div>
</div>