/* You can add global styles to this file, and also import other style files */

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  background-color: black;
  color: white;
  overflow: hidden;
  background: repeating-linear-gradient(
    45deg,
    rgba(205, 133, 63, 0.15) 0px,
    rgba(205, 133, 63, 0.15) 1px,
    transparent 1px,
    transparent 10px
  ),
  repeating-linear-gradient(
    -45deg,
    rgba(205, 133, 63, 0.15) 0px,
    rgba(205, 133, 63, 0.15) 1px,
    transparent 1px,
    transparent 10px
  );
}


@media (max-width: 768px) {
  .container-fluid {
    height: auto !important;
  }
}

* {
  box-sizing: border-box;
}

.zoom-in {
  animation: zoomIn 1s ease-out;
}

@keyframes zoomIn {
  from {
    transform: scale(0.95);
    opacity: 0.8;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
