<div id="home-container" class="container-fluid h-100 d-flex align-items-center justify-content-center zoom-in" style="background-color: black;">
  <div class="row w-100">
    <div class="col-md-6 d-flex align-items-center justify-content-center" style="overflow: hidden;">
      <img src="/assets/images/img1.jpg" alt="Foto del Notaio" class="img-fluid img-warm" style="max-height: 70vh; width: 100%; object-fit: contain;" loading="lazy">
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <div>
        <h1>Notaio Gregorio Barbaglio</h1>
        <blockquote style="font-style: italic; color: #B8860B; padding-left: 10px; margin: 20px 0;">"In claris non fit interpretatio"</blockquote>
      </div>
    </div>
  </div>
</div>