<div class="container-fluid h-100 d-flex align-items-center zoom-in" style="background-color: black;">
  <div class="row w-100">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <img src="/assets/images/img1.jpg" alt="Foto del Notaio" class="img-fluid img-warm" loading="lazy">
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <div>
        <h1>Benvenuti nel sito del Notaio Gregorio Barbaglio</h1>
        <p>Testo placeholder per la home page. Qui verrà inserita la descrizione del notaio Gregorio Barbaglio e dei servizi offerti.</p>
      </div>
    </div>
  </div>
</div>